body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',
}


.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }

    width: 100%;
    border-radius: 18px;
    height: 55px;
    background: #9dd458;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background .3s ease-in-out;

    &:hover {
      background: lighten(#9dd458, 10%);
    }

    &:active {
      background: darken(#9dd458, 5%);

    }
  }
}

.greenBtn {
  position: relative;

  &:hover {
    img {
      transform: translateX(5px);
    }
  }

  img {
    position: absolute;
    right: 30px;
    top: 20px;
    transition: transform .1s ease-in-out;
  }
}

header {
  border-bottom: 1px solid #EAEAEA;
}

.search_block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .inputClose {
    position: absolute;
    right: 0;
    top: 13px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  input {
    font-size: 16px;
    border: 0;
    padding: 15px;
  }
}